In [ ]:
from util import *

In [2]:
df = load_data(load_new_games=False)
df.columns

Loading Games...
Loaded Games!

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [3]:
df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22024,1610612737,ATL,Atlanta Hawks,22400378,2024-12-21,ATL vs. MEM,L,239,112,...,0.833,6,35,41.0,29,11,6,25,14,-16.0
1,22024,1610612737,ATL,Atlanta Hawks,22400370,2024-12-19,ATL @ SAS,L,266,126,...,0.857,12,41,53.0,32,14,6,22,22,-7.0
2,22024,1610612737,ATL,Atlanta Hawks,22401229,2024-12-14,ATL @ MIL,L,241,102,...,0.647,7,37,44.0,23,3,6,13,20,-8.0
3,22024,1610612737,ATL,Atlanta Hawks,22401202,2024-12-11,ATL @ NYK,W,239,108,...,0.650,22,36,58.0,27,5,7,10,13,8.0
4,22024,1610612737,ATL,Atlanta Hawks,22400350,2024-12-08,ATL vs. DEN,L,239,111,...,0.741,19,26,45.0,26,12,2,12,22,-30.0